pgdata
.DS_Store
pgadmin-data
rabbitmq
redis_data
testpgdata
minio_data
*.o
.env
docker-compose.yml
.vscode
.vscode/launch.json
docker-compose.yml
redis-data
monthly_reports/*.csv
daily_reports/*.csv
*.txt

